@import '~antd/dist/antd.css';
html,
body {
  height: 100%;
  margin: 0;
  padding: 10px;
}

.drag {
  border: 1px dashed #999999;
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
}

.drag-container {
  border-color: #1890ff;
}

.placeholder {
  color: #999999;
}

.content {
  color: #333333;
}

.drag .input {
  display: none;
}